/* Reset de estilos para remover margens e preenchimentos padrão */
body, h1, h2, p, ul, li, form {
    margin: 0;
    padding: 0;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calculator {
    text-align: center;
}

.calculator h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.calculator form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.calculator label {
    font-size: 16px;
    padding: 10px;
}

.calculator input {
    width: 60px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.calculator button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.result {
    margin-top: 20px;
}

.result span {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
}

.form_result {
    margin: 5px;
}

.formData_list {
    list-style-type: none;
    margin: 0;
    padding: 10; 
}

.formData_item {
    margin-bottom: 5px;
}

