<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/about.css" rel="stylesheet" type="text/css"/>
    <title>Quanto Cobrar de Aluguel</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Página Inicial</a></li>
                <li><a href="/sobre">Sobre</a></li>
                <li><a href="/contato">Contato</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="about_section">
            <div class="about_section">
                <p> Já teve duvida na hora de procurar aluguel se o preço é justo?</p> <br>
                <p> Esse site tem o objetivo de resolver esse problema!</p> <br>
                <p> Basta informar algumas características sobre o ímovel e iremos retornar
                    o preço de aluguel médio com estas características	para você poder comparar
                    os preços e descobrir qual o melhor valor.
                </p>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2023</p>
    </footer>
</body>
</html>
