<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/contact.css" rel="stylesheet" type="text/css"/>
    <title>Quanto Cobrar de Aluguel</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Página Inicial</a></li>
                <li><a href="/sobre">Sobre</a></li>
                <li><a href="/contato">Contato</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="contact_section">
            <div class="contact_info">
                <div class="contact contact1">
                    <p> Fernando de Facio Rossetti</p>
                    <p> PUC-Campinas - Ciência de Dados e Inteligência Artificial </p>
                    <p> fernando.fr2@puccampinas.edu.br </p>
                </div>
                <div class="contact contact2">
                    <p> Gabriel Stefanini Mattar</p>
                    <p> PUC-Campinas - Ciência de Dados e Inteligência Artificial </p>
                    <p> gabriel.sm12@puccampinas.edu.br </p>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2023</p>
    </footer>
</body>
</html>
